html, body, #root, .App {
    margin: 0;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

#webcam {
    position: absolute;
}

#scan-btn {
    font-weight: bold;
    font-size: 20px;
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 15px;
}
